body{
    background-image: url("pozadinaa6.png");
    background-repeat: repeat;
    background-size: contain;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    row-gap: 50px;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
}
.kontejner,.kontejner2{
    color:#6E0938;
    display:flex;
    border:2px solid #6E0938;
    border-collapse: collapse;
    flex-direction:row;
    column-gap:10px;
    background-color: rgba(255, 255, 255, 0.7);
}
h1{
    
    text-align:center;
    color:#6E0938;
    background-color: rgba(255, 255, 255, 0.7);
    border:2px solid #6E0938;
    width:400px;
    align-self: center;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
}
.formatermin,.formasmena{
    margin-left:15px;
    display:flex;
    flex-direction:column;
    flex-grow:1;
    padding-left:5px;
    text-align:center;
    max-width:140px;
    padding:10px;
    font-size: 17px;
    font-weight: bold;
    position: relative;
}
.kontTermini,.kontSmene{
    margin:5px;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    min-width: 300px;
    justify-content: center;
}
.kontSmene{
    align-items: center;
}
.termin,.smena{
    margin:3px;
    width:150px;
    height:150px;
    text-align: center;
    border:3px dotted #6E0938;
    flex-grow:0;
    flex-shrink:1;
    border-radius:15px;
    border-style: groove;
}
.usluge{
    border-collapse: collapse;
}
.oslobodi{
    text-align: center;
    margin:10px;
}
.oslobodi input{
    width:120px;
}
.main
{   font-style: italic;
    font-size:large;
    display:flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.81);
    color:#E5A44A;
    border:2px solid #6E0938;
    border-radius:10px;
    justify-content:center;
    align-items: center;
    text-align:center;
    width:250px;
    padding:10px;
    margin:20px;
}

button{
    height:40px;
    width:150px;
    align-self:center;
    background-color: #ebcab2;
    border: 2px solid #6E0938 ;
    color:#6E0938;
    font-size: 15px;
    font-style: italic;
    font-weight:bolder;
    font-family:'Times New Roman', Times, serif;
}
.bod{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.tip{
    margin-left: 30px;
    text-align: left;
}
.legenda{
    display: flex;
    flex-direction: row;
    position:absolute ;
    bottom:10px;
    margin-top: 20px;


}
.polje{
    display: flex;
    flex-direction: row;
    margin-right:10px;

}
.kvadratic{

    height: 20px;
    width: 20px;
    margin-right:5px;
}
.divvreme{
    display: flex;
    flex-direction: row;
}